<div class="parallax-container">
  <div class="parallax"><img src="assets/images/produce-tomatos-web.jpg">
</div>
</div>
<div class="section white">
  <div class="row container">
    <div class="center profile-pic circle">
      <%= image_tag @store.image.url(:square) , :class => "circle" %>
    <h2 class="header greeting"><%= @store.name.capitalize %></h2>
    <p class="grey-text text-lighten bio"><%= @store.bio %></p>
    </div>
  </div>
  <div class="row container categories">
    <% @store.categories.uniq.each do |category| %>
      <h5><%= category.name %></h5>
        <ul class="<%= category.name %>-items">
          <% category.items.each do |item| %>
            <li><%= item.name %></li>
          <% end %>
        </ul>
    <% end %>
  </div>
</div>
