<div class="row">
  <div class="col s4">
    <div>
      <%= image_tag @user.image.url(:square) , :class => "circle" %>
      <%# <img src="<%= @user.image.url(:square) %1>" class="circle responsive-img"> %>
    </div>
  </div>
  <div class="col s8 center">
    <div class= "">
      <h3>Profile for</h3><h4><%= current_user.username %></h4>
    </div>
  </div>
</div>

<div>
  <h6>
    <%= link_to "Edit Account", edit_user_path(current_user) %> |
    <%= link_to "View Cart", cart_path %> |
    <% if current_user.store_admin? %>
      <%= link_to "My Store Dashboard", store_dashboard_index_path(current_user.store) %>
    <% end %>
  </h6>
</div>

<div class="row">
  <div class='col s12'>
    <div>
      <h5>My Bio</h5>
    </div>
    <div>
      <h6 id='user-bio'><%= @user.bio %></h6>
    </div>
  </div>
</div>

<% if @user.orders %>
<div id='order-history'>
  <h4>Your past orders:</h4>
    <%= render partial: 'orders/orders_table' %>
    <% end %>
    <%= link_to "View all orders", orders_path %>
</div>
