<h3>Featured Items</h3>

<div class="row featured">
  <% @items.each do |item| %>
    <div class="col s12 m2">
      <div class="card">
        <div class="card-image">
          <a href="<%= item_path(item.id) %>"><img class="max-width" src=""></a>
        </div>
        <div class="card-content">
          <p><%= item.name %></p>
        </div>

      </div>
    </div>
  <% end %>
</div>

<div id="all-items-link" class="right">
  <%= link_to "View All >", items_path %>
</div>


<h3>Shop by Category</h3>

<div class="row categories">
  <% @categories.each do |category| %>
    <div class="col s12 m2">
      <a href="/categories/<%= category.slug %>">
        <div class="card min-height-70">
          <div class="card-content">
            <p><%= category.name %></p>
          </div>
        </div>
      </a>
    </div>
  <% end %>
</div>

<div id="all-categories-link" class="right">
  <%= link_to "View All >", categories_path %>
</div>

<h3>Featured Farmers</h3>

<div class="row top-farmers">
  <% @stores.each do |store| %>
    <div class="col s12 m2">
      <div class="card">
        <div class="card-image">
          <a href="<%= store_path(store) %>"><img class="max-width" src="<%= store.image.url(:thumb) %>"></a>
        </div>
        <div class="card-content">
          <p><%= store.name %></p>
        </div>

      </div>
    </div>
  <% end %>
</div>

<div id="all-farmers-link" class="right">
  <%= link_to "View All >", users_path %>
</div>
