<h2>Platform Admin Dashboard</h2>
<div class="row">
  <div class="col s6 m6 l6">
    <div id='active-stores'>
      <table id="" class='table-striped table-bordered table-hover'>
        <h4>Current Farms</h4>
        <tr>
          <th>Farm</th>
          <th>Take Offline</th>
        </tr>
        <% @active_stores.each do |store| %>
        <tr>
          <td><%= link_to "#{store.name}", "/#{store.slug}" %></td>
          <td> "Take Offline" </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="col s6 m6 l6">
    <div class=''>
      <table id="pending-stores" class='table-striped table-bordered table-hover'>
        <h4>Pending Farms</h4>
        <tr>
          <th>Farm</th>
          <th>Activate</th>
        </tr>
        <% @pending_stores.each do |store| %>
        <tr>
          <td><%= link_to "#{store.name}", "/#{store.slug}" %></td>
          <td id=<%="#{store.id}"%>><%= button_to "Put Online", platform_store_path(store, edit_action: "accepted"), method: :patch %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div><br><br>
  <div class="col s6 m6 l6">
    <div class=''>
      <table id="declined-stores" class='table-striped table-bordered table-hover'>
        <h4>Declined Farms</h4>
        <tr>
          <th>Farm</th>
        </tr>
        <% @declined_stores.each do |store| %>
        <tr>
          <td><%= link_to "#{store.name}", "/#{store.slug}" %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
